* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}
/* Common */
header {
    background: #10375C;
    position: sticky;
    top:-22px;
}
a {
    text-decoration: none;
}
.main-content {
    width:1170px;
    margin:0 auto;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 8px;
}
.logo {
    width: 50px;
    display: flex;
    font-size: 1rem;
    text-align: right;
}
.logo__link {
    display: flex;
}
.logo__img {
    width: 30px;
    height: 30px;
}
.logo__name {
    margin-left: 6px;
    color: #FFF;
    text-align: right;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}
.logo__name--small {
    color: #FFF;
    font-family: Sora;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
}
.nav__list {
    display: flex;
}
.nav__link {
    color: #C9D2DA;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 16px;
}
.nav__link:hover {
    color:white;
    font-weight: 400;
}
.user {
    display: flex;
    align-items: center;
}
.user__link--login {
    color: #C9D2DA;
    text-align: right;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
}
.btn {
    display: inline-block;
    min-width:205px;
    border-radius: 22px;
    background: #2E80CE;
    color: #FFF;
}
.btn:hover {
    opacity: .9;
    cursor: pointer;
}
.user__link--signup {
    border:1px solid #2E80CE;

    min-width:104px;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    height:44px;
    margin-left: 28px;
}

/* ***Hero*** */
.hero {
    display: flex;
    width:1170px;
    margin:0 auto;
    padding-top: 80px;
}
.hero__content {
    padding-top: 60px;
}
.hero__title {
    color: #FFF;
    font-family: Sora;
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
    width: 517px;
    margin-bottom: 22px;
}
.hero__desc {
    width: 468px;
    color: #C9D2DA;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6; /* 166.667% */
}
.hero__row {
    display: flex;  
    align-items: center;
    margin-top: 38px;
}
.hero__book {
    --height:60px;
    min-width:205px;
    height:var(--height);
    line-height:var(--height);
    text-align: center;
}
.hero__phone {
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6; /* 166.667% */
    margin-left: 38px;
}
.hero__media {
    margin-left: auto;
}
.hero__media--big {
    position: relative;
    margin-right:-6px;
    display: inline-block;
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}
.hero__media--small {
    display: inline-block;
    margin-bottom: 50px;
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;  
}