* {
    box-sizing: border-box;
}
:root {
    --primary-width:1170px;
    --primary-color: #2E80CE; 
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}
/* Common */
header {
    background: #10375C;
    
}
a {
    text-decoration: none;
}
.main-content {
    width:var(--primary-width);
    margin:0 auto;
    max-width: calc(100% - 48px);
}
.header-top {
    background: #10375C;
    position: sticky;
    top:-22px;
    z-index: 1;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 8px;
    
    background: #10375C;

}
.logo {
    width: 50px;
    display: flex;
    font-size: 1rem;
    text-align: right;
}
.logo__link {
    display: flex;
}
.logo__img {
    width: 30px;
    height: 30px;
}
.logo__name {
    margin-left: 6px;
    color: #FFF;
    text-align: right;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}
.logo__name--small {
    color: #FFF;
    font-family: Sora;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
}
.nav__list {
    display: flex;
}
.nav__link {
    position: relative;
    color: #C9D2DA;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 16px;
}
.nav__link--active::before {
    position: absolute;
    left:0;
    top: 18px;
    content:"";
    display: inline-block;
    width: 6px;
    height: 6px;  
    background-color: #fff;
    border-radius: 50%;
}
.nav__link:hover {
    color:white;
    font-weight: 400;
}
.user {
    display: flex;
    align-items: center;
}
.user__link--login {
    color: #C9D2DA;
    text-align: right;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
}
.btn {
    display: inline-block;
    min-width:205px;
    border-radius: 22px;
    background: var(--primary-color);
    color: #FFF;
}
.btn:hover {
    opacity: .9;
    cursor: pointer;
}
.user__link--signup {
    border:1px solid var(--primary-color);

    min-width:104px;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    height:44px;
    margin-left: 28px;
}

/* ***Hero*** */
.hero {
    display: flex;
    width:1170px;
    margin:0 auto;
    padding-top: 80px;
}
.hero__content {
    padding-top: 60px;
}
.hero__title {
    color: #FFF;
    font-family: Sora;
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
    width: 517px;
    margin-bottom: 22px;
}
.hero__desc {
    width: 468px;
    color: #C9D2DA;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6; /* 166.667% */
}
.hero__row {
    display: flex;  
    align-items: center;
    margin-top: 38px;
}
.hero__book {
    --height:60px;
    min-width:205px;
    height:var(--height);
    line-height:var(--height);
    text-align: center;
}
.hero__phone {
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6; /* 166.667% */
    margin-left: 38px;
}
.hero__media {
    margin-left: auto;
}
.hero__media--big {
    position: relative;
    margin-right:-6px;
    display: inline-block;
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}
.hero__media--small {
    display: inline-block;
    margin-bottom: 50px;
    width: 210px;
    height: 410px;
    object-fit: cover;

    border-radius: 0px 6px 6px 0px;  
}

/* ===Services===== */ 
.services {
    padding-top: 170px;
}
.services__heading {
    color: #10375C;
    text-align: center;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1px;
}
.services__desc {
    color: #575F66;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6; /* 166.667% */
    width: 468px;
    margin:0 auto;
    margin-top: 18px;
}
.services-content {
    display: flex;
    width:var(--primary-width);
    margin:0 auto;
    padding: 70px 0;
    align-items: center;

}
.services__list {
    margin-left: auto;
}
.services__item {
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    padding:21px 0 20px 22px;
    margin-bottom: 8px;
    transition: .25s;

}
.services__item:hover {
    background: #FFF;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.services__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.services__item-img {
    padding: 18px 18px;
    border-radius: 999px;
    background-color: #EFF6FD;
    color:#10375C;
}
.services__item-heading {
    color: #10375C; ;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.services__item-desc {
    width: 351px;
    color: #575F66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    margin-top: 8px;
    margin-left: 19px;
}
.services__btn {
    display: inline-block;
    min-width:205px;
    height:60px;
    line-height: 60px;
    text-align: center;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    background: #2E80CE;
    border-radius: 30px;
    margin-top: 55px;
}
.services__btn:hover {
    opacity: .9;
}
.services__item:hover {
    fill:red;
}
.services__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color:#10375C;
    background: #EFF6FD;
    transition: .25s;

}
.services__item:hover .services__item-icon {
    color:#fff;
    background-color: #2E80CE;
}

/*===How it works===*/
.how {
    background-color: #F6FBFF;
    padding:100px 0;
    margin-top: 100px;
}
.how__content {
    width:var(--primary-width);
    margin:0 auto;
}
.how__heading {
    color: #10375C;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}
.how__desc {
    width: 468px;
    color: #575F66;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6; /* 166.667% */
    margin-top: 18px;
}
.how__icon-img {
    display: block;
    width: 72px;
    height: 72px;
    margin-bottom: 18px;
}
.how__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 70px;
    column-gap: 30px;
}
.how__item {
    width: 370px;
    height:400px;
    border-radius: 4px;
    border: 4px solid #EAF6FF;
    padding:42px;
    transition: 0.25s;

}
.how__item:hover {
    border:4px solid #2E80CE;
    transform: translateY(-20px);
}
.how__icon-desc {
    color: #10375C;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3; /* 138.462% */
}
.how__item-desc {
    color: #575F66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    width: 254px;
    margin-top: 28px;
    margin-bottom: 18px;
}
.how__item-link {
    color: #2E80CE;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

/* ===Featured=== */
.featured {
    padding:170px 0;
}
.featured__body {
    width: var(--primary-width);
    margin:0 auto;
}
.featured__body {
    display: flex;
}
.featured__media {
    position: relative;
}
.featured__img--big{
    position: relative;
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}
.featured__img--small {
    position: absolute;
    top:121px;
    left:238px;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}
.featured__content {
    margin-left: auto;

}
.featured__heading {
    width: 470px;
    color: #10375C;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}
.featured__desc {
    width: 468px;
    color: #575F66;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6; /* 166.667% */
    margin-top: 18px;
    margin-bottom: 38px;
}
.featured__link {
    display: inline-block;
    min-width:205px;
    height:60px;
    text-align: center;
    line-height:60px;
    color:#fff;
    background: #000;
    border-radius: 30px;
    background: #2E80CE;
}
.featured__link:hover {
    opacity: .9;
}

/* ===Member=== */
.member {
    margin-top: 100px;
}
.member__body {
    width: var(--primary-width);
    margin:0 auto;
}
.member__heading {
    color: #10375C;
    text-align: center;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
    margin-bottom: 38px;
}
.featured__link-wrap {
    text-align: center;
}
.member__list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:18px;
    padding-top: 70px;
}
.member__item-wrap {
    background: #EAF6FF;
    overflow: hidden;   
    border-radius: 6px;

}
.member__item-img {
    display: block;
    transition: .3s;
    border-radius: 6px;

    max-width:100%;
    height: 318px;
    object-fit: cover;
    padding-top: 20px;
}
.member__item-img:hover {
    transform: scale(1.1);
}
.member__item-name {
    color: #10375C;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-top: 18px;
}
.member__item-address {
    color: #575F66;
    text-align: center;
    font-family: Sora;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.85; /* 185.714% */
}
.member__arrow-left, .member__arrow-right {
    display: inline-block;
    border:1px solid #575F66;
    outline:#575F66;
    color:#575F66;
    border-radius: 50%;
    padding: 9px 14px;
    margin-right: 16px;
}
.member__arrow-left:hover,.member__arrow-right:hover {
    color:#fff;
    background: #2E80CE;
    border:1px solid #2E80CE;
    border-radius: 50%;
}

.member__action {
    text-align: center;
    margin-top: 38px;
}

/* ==Install=== */
.install {
    margin-top: 265px;
    
}
.install__body {
    display: flex;
    border-radius: 4px;
    height:427px;
    width:var(--primary-width);
    margin:0 auto;
    background: #2E80CE;

}
.install__img {
    margin-left: 70px;
    transform: translateY(-96px);
    width: 284px;
    height: 522px;
    object-fit: cover;
}
.install__content {
    margin-left: 160px;
}
.install__heading {
    width: 495px;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 60px; /* 120% */
    letter-spacing: -1px;
    color:#fff;
    margin-top: 76px;
}
.install__desc {
    width: 586px;
    color: #FFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    margin-top: 18px;
    line-height: 1.67; /* 166.667% */
}
.install__apps {
    margin-top: 38px;
    display: flex;
}
.install__link {
    margin-right: 28px;
}